h2 {
  margin: 20px 0;
}

#date_form {
  float: right;
  border: 1px solid #cee1f4;
}
#date_form  form {
    margin: 20px;
}
#date_form form input {
      margin: 0 10px;
    }

table {
  margin: 30px 0;
}

table th {
    font-weight: bold;
    border-top: 1px solid #cee1f4;
    background-color: #eff5fc;
}

table tr:nth-child(odd) {
    background-color: #eff5fc;
}

table  tr.total {
    font-weight: bold;
}