#header, nav, #date_form, a[data-details], #progress {
  display: none !important;
}

body, h1, h2, h3, h4, h5, h6, a, a:visited {
  color: #000;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-size: 12px;
}

h1, h2 {
  border-bottom: 2px solid black;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;

  th, td {
    padding: 4px;
    vertical-align: middle;
    margin: none;
  }

  tr:nth-child(odd), th {
    background-color: transparent;
  }

  th, th:first-child, td, td:first-child {
    border: 1px solid black;
  }
}
