h2 {
  margin: 20px 0;
}

#date_form {
  float: right;
  border: 1px solid #cee1f4;

  form {
    margin: 20px;

    input {
      margin: 0 10px;
    }
  }
}

table {
  margin: 30px 0;

  th {
    font-weight: bold;
    border-top: 1px solid #cee1f4;
    background-color: #eff5fc;
  }

  tr:nth-child(odd) {
    background-color: #eff5fc;
  }
}