h1 {
  padding: 20px 0;
}

h2 {
  margin: 20px 0;
  border-bottom: 2px solid #cee1f4;
}

#date_form {
  float: right;
  border: 1px solid #cee1f4;

  form {
    margin: 20px;
    margin-left: 40px;

    input {
      margin: 0 10px;
    }
  }
}

table {
  margin: 30px 0;

  th {
    font-weight: bold;
    border-top: 1px solid #cee1f4;
    background-color: #eff5fc;
  }

  tr:nth-child(odd) {
    background-color: #eff5fc;
  }

  tr.total {
    font-weight: bold;
  }

}

.details {
  display: none;
}

a[data-details] {
  float: right;
  margin: -42px 0;
}

.count {
  font-family: Courier;
  text-align: center;
}

.amount {
  font-family: Courier;
  text-align: right;
}